{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    {# <div id="main-page"></div> #}
    <div class="container main pt-5">
        <h1 class="text-center">Welcom to collections managment app</h1>
        <div class="d-flex justify-content-end gap-3">
            <a href="/login" class="btn btn-success">Sign in</a>
            <a href="/register" class="btn btn-primary">Sign up</a>
        </div>
    </div>
{% endblock %}
