{% extends 'base.html.twig' %}

{% block title %}Collections managment app{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="container main pt-5">
        <div class="d-flex justify-content-end gap-3">
            <a href="/login" class="btn btn-success nav-btn">Sign in</a>
            <a href="/register" class="btn btn-primary nav-btn">Sign up</a>
        </div>
        <div class="d-flex justify-content-end gap-3 mt-3">
            <a href="/collections" class="btn btn-success nav-btn">Open collections list</a>
        </div>
        <h1 class="text-center">Welcom to collections managment app</h1>
    </div>
{% endblock %}
