{% extends 'base.html.twig' %}

{% block title %}Collections managment app{% endblock %}

{% block body %}
    <div class="container main pt-5">
    {% if app.user == '' %}
        <div class="d-flex justify-content-end gap-3">
            <a href="/login" class="btn btn-success nav-btn"><span class="desctop__btn">Sign in </span><i class="fa-solid fa-right-to-bracket"></i></a>
            <a href="/register" class="btn btn-primary nav-btn"><span class="desctop__btn">Sign up</span> <i class="fa-solid fa-user-plus"></i></a>
        </div>
    {% endif %}
        <div class="d-flex justify-content-end gap-3 mt-3">
            <a href="/collections/1" class="btn btn-success nav-btn">Open collections list</a>
        </div>
        <h1 class="text-center">Welcom to collections managment app</h1>
    </div>
{% endblock %}
