{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    {# <div id="main-page"></div> #}
    <div class="container">
        <h1>Welcom to collection managment app</h1>
        <a href="/login" class="btn btn-success">Sign in</a>
        <a href="/register" class="btn btn-success">Sign up</a>
    </div>
{% endblock %}
