{% extends 'base.html.twig' %}

{% block title %}Edit collection{% endblock %}

{% block body %}
    <div class="container pt-5">
        <div class="d-flex justify-content-end gap-3">
            <a href="/collections" class="btn btn-success nav-btn">Back to collections</a>
            <a href="/collection/create" class="btn btn-primary nav-btn">Create collection</a>
        </div>
        
        <h2>You can {{ action }} here.</h2>
        <h2>You choose collection:</h2>
        <p>{{ category.name }}</p>
    </div>
{% endblock %}
