{% extends 'base.html.twig' %}

{% block title %}Edit collection{% endblock %}

{% block body %}
    <div class="container pt-5">
        <div class="d-flex justify-content-end gap-3">
            <a href="/collections" class="btn btn-success nav-btn">Back to collections</a>
            <a href="/collection/create" class="btn btn-primary nav-btn">Create collection</a>
        </div>
        
        <h2>You can {{ action }} here.</h2>
        <h2>You choose collection:</h2>
        <form method="post" class="category__form">
            <div class="collection__title">
                <p class="collection__title-value active">Collection name: <b>{{ category.name }}</b></p>
                <input name="collectionname" value={{category.name}} class="collection__title-edit" type="text" placeholder="enter new collection name"/>
            </div>
            <div class="d-flex gap-3">
                <button type="submit" class="btn btn-danger collection__btn-delete">Delete <i class="fa-solid fa-trash-can"></i></button>
                <button class="btn btn-success collection__btn-edit">Edit <i class="fa-solid fa-pen-to-square"></i></button>
            </div>
        </form>
    </div>
{% endblock %}
