html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
}

h1,
h2 {
    text-align: center;
}

p {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.nav-user {
    font-size: 1.2rem;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

.main {
    height: 90%;
    background-image: url(../images/form-bg.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
}

.nav-btn {
    font-size: 1.2rem;
    font-weight: 600;
}

.login {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    background-image: url(../images/form-bg.png);
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-position-y: 50%;
}

.login__form {
    display: flex;
    width: 35%;
    padding: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: unset;
    border-radius: 40px;
    border: 1px solid rgba(141, 153, 174, 0.4);
    background: #fff;
    box-shadow: 0 0 40px #8d99ae0d;
}

.category__form {
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 435px;
    margin: 0 auto;
    border-radius: 40px;
    border: 1px solid rgba(141, 153, 174, 0.4);
    background: #fff;
    box-shadow: 0 0 40px #8d99ae0d;
    text-align: center;
}

.category__form input {
    border-radius: 8px;
    font-size: 1.5rem;
    color: #2b2d42;
    border: 1px solid rgba(141, 153, 174, 0.4);
    background: #edf2f466;
}

.category__form input::placeholder,
.category__form textarea::placeholder {
    font-size: 1rem;
}

.category__form textarea {
    /* width: 100%; */
    border-radius: 8px;
    font-size: 1.5rem;
    color: #2b2d42;
    border: 1px solid rgba(141, 153, 174, 0.4);
    background: #edf2f466;
}

::-webkit-input-placeholder {
    text-align: left;
}

:-moz-placeholder {
    text-align: left;
}

::-moz-placeholder {
    text-align: left;
}

:-ms-input-placeholder {
    text-align: left;
}

.category__form label {
    font-size: 1rem;
}

.login__form input {
    border-radius: 8px;
    font-size: 1.5rem;
    color: #2b2d42;
    border: 1px solid rgba(141, 153, 174, 0.4);
    background: #edf2f466;
}

.login__form button {
    font-size: 1.2rem;
    font-weight: 600;
}

.sign-up div {
    text-align: center;
}

.sign-up form div:nth-child(4) {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-bottom: 1rem;
}

.sign-up div label {
    margin-bottom: 0.5rem;
}

.sign-up div input[type="checkbox"] {
    margin-left: 5px;
}

.collections__text {
    font-size: calc(1.325rem + 0.5vw);
    margin: 1rem 0;
}

.collections {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: 1rem;
    height: calc(100vh - 233px);
    background-color: #f6f8fe;
    overflow-y: auto;
}

.collections .row {
    padding: 0;
}

.collections__item {
    font-weight: 400;
    font-size: calc(1.325rem + 0.5vw);
    list-style: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #2b2d42;
}

.collections__item div {
    height: 205px;
}

.collections__item-owner {
    font-size: calc(0.7rem + 0.5vw);
    align-content: end;
}

.app-pagination {
    display: flex;
    justify-content: center;
}

.activepage .page-link {
    background-color: #ced4da;
}

.collection__title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    align-items: start;
    font-size: 2rem;
    gap: 1rem;
}

.collection__title p {
    text-align: left;
}

.collection__title-edit {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.collection__title-edit input {
    height: 32px;
}

.collection__title-edit input::placeholder {
    font-size: 1rem;
    align-self: center;
}

.collection__description {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.collection__description span {
    font-size: 1rem;
}

.collection__update {
    margin: 1rem 0;
}
.item {
    margin-bottom: 0.5rem;
}

.item select,
.collection__edit-type {
    margin-left: 10px;
}

.item select #custom-attributes-wrapper .item {
    margin-bottom: 1rem;
}

#custom-attributes-wrapper .item input {
    margin-bottom: 0.5rem;
}

.comment-text {
    font-size: 1.2rem;
}

.custom-attribute_row {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.attribute-title {
    font-size: 1.2rem;
    text-decoration: underline;
    color: #146c43;
}

.attribute-content {
    font-size: 1.5rem;
}

@media screen and (max-width: 1200px) {
    .login {
        background-image: none;
    }

    .login__form {
        width: 400px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    header.container {
        flex-direction: column-reverse;
    }

    header .nav-user {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
    }
    .main {
        background-size: contain;
    }

    .desctop__btn {
        display: none;
    }

    .nav-btn {
        font-size: 0.8rem;
    }

    .category__form {
        padding: 20px;
    }

    .collection__description {
        font-size: 1.2rem;
    }

    .collection__description span {
        font-size: 0.8rem;
    }

    .users__managment-btn {
        display: none;
    }

    .btn-text {
        display: none;
    }
}

/* preloader */
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    z-index: 1001;
}
.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #3c55c7;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {
    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}
