{% extends 'base.html.twig' %}

{% block title %}My collections{% endblock %}

{% block body %}
<div class="container pt-5">
    {% if username == 'Guest' %}
        <a class="btn btn-danger" href="/">back to main</a>
    {% else %}
        <a class="btn btn-danger" href="/logout">logout</a>
    {%  endif %}
    <h1>Hello {{ username }}!</h1>
</div>
{% endblock %}
