{% extends 'base.html.twig' %}

{% block title %}My collections{% endblock %}

{% block body %}
<div class="container">
    <a class="btn btn-danger" href="/logout">logout</a>
    <h1>Hello {{ username }}!</h1>
</div>
{% endblock %}
